[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[core]
#	sshcommand = ssh.exe
	editor = nvim
	excludesFile = ~/.gitignore
[user]
	name = daniel silva
	email = danielulisses@outlook.com
