#!/bin/bash

gaap() {
  git add -A && git commit -m "$*" && git push
}

alias gaa='git add -A'

alias g='git'
alias d='docker'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gp='git push'
alias gl='git pull'
alias gcm='git commit -m'
alias gcam='git commit -a -m'
alias gcad='git commit -a --amend'
alias k='kubectl'
alias kga='kubectl get all'
alias kgs='kubectl get svc'
alias kgp='kubectl get pods'
kd() {
  kubectl describe $1 $2
}

azlogin() {
  az login --use-device-code
}

azprcreate() {
  az repos pr create -r $(basename `git rev-parse --show-toplevel`) -s  $(git branch --show-current) -t $1 -o table
}

azprcomplete() {
  az repos pr update --id $1 --status completed -o table
}

azpiperun() {
  az pipelines run --project $1 --name $2 --branch $(git branch --show-current) -o table
}

azpipestatus() {
  az pipelines runs list --project $1 --query "[?definition.name=='$2'] | [0:2].{RunID:id, PipelineName:definition.name, Status:status, Result:result, QueueStatus:definition.queueStatus}" --output table
}

compress() { tar -czf "${1%/}.tar.gz" "${1%/}"; }

alias decompress="tar -xzf"

gaapsup() {
  git add -A && git commit -m "$*" && git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
}

function gpsup {
  git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
}
